{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="row justify-content-center mt-4">

    {{ form_start(loginForm) }}
    {{ form_widget(loginForm) }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Se connecter
        </button>
    </div>
    <a href="{{ path('register_client') }}">S'inscrire</a>
    {{ form_end(loginForm) }}

</div>
{% endblock %}
