{% extends 'base.html.twig' %}

{% block body %}
    {{ travel.details | nl2br }}

    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button type="submit">Réserver</button>


    {{ form_end(form) }}

{% endblock %}

{% block title %}

{% endblock %}

