{% extends 'base.html.twig' %}

{% block title %}Edit Travel{% endblock %}

{% block body %}
    <h1>Editer voayge</h1>

    {{ include('travel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('travel_index') }}">Retour a la liste</a>

    {{ include('travel/_delete_form.html.twig') }}
{% endblock %}
