{% extends 'base.html.twig' %}

{% block title %}Nouveau Voyage{% endblock %}

{% block body %}
    <h1>Créer un nouveau voyage</h1>

    {{ include('travel/_form.html.twig') }}

    <a href="{{ path('travel_index') }}">Retour a la liste</a>
{% endblock %}
